    <div id="bottom">
        <div class="footer">
            Powered by <a href="http://www.hulihanapplications.com/projects/bxr"><img src="/images/bxr_tiny.png" title="BXR" alt="BXR" border=0 align=middle></a>  <a href="http:///www.hulihanapplications.com/">Hulihan Applications</a> &#0169; <%= Time.now.year %>
        </div>
    </div>