A new <%= CONFIG['app_name']%> password has been generated for you.
Use the following to log in to Library:

   URL: <%= CONFIG['url'] %>
   
   Username: <%= @name %>
   Password: <%= @password %>
